body {
   background-color: #F7F7FF;
}
div.centered{
   text-align: center;
}
p {
   color: #197BBD;
   font-family: Verdana	, Helvetica, sans-serif;
}

p.enterInstruc {
   color: #204B57;
}

h1 {
   color: #125EBA;
   font-family: Verdana, Helvetica, sans-serif;
}

h2{
   color: #204B57;
   font-family: Verdana, Helvetica, sans-serif;
}