extends layout

block content

    div(class="centered")

        h2= `${title}`

        p Enter a username to change the role of: 

        form(action="/changeRole" method='POST')
            lable(for="username") Username: 
            input(type='text' name='username')

            input(type="submit" value="submit")