extends layout

block content

    div(class="centered")

        h2= `${title}`
        br
        br
        p Enter a username to change the role of: 
        br
        br
        form(action="/changeRole" method='POST')
            label(for="username") Username: 
            input(type='text' name='username')
            br
            br
            label(for="role") New Role:
            select(name ='role')
                option(value='ADMIN') ADMIN
                option(value='FINANCE_ADMIN') FINANCE_ADMIN
                option(value='TECH_ADMIN') TECH_ADMIN
                option(value='HR_ADMIN') HR_ADMIN
                option(value='SALES_ADMIN') SALES_ADMIN
            br
            br
            input(type="submit" value="Submit")

        button(type="button" class="logout") 
            a(href="http://localhost:3000/" class="buttonLink") Logout