extends layout

block content

    if users.length
        table
            tr
                th Username
                th Password
            each user in users
                tr
                    td= user.username
                    td= user.password
    else
        p No users yet :(