body {
    background-color: #F7F7FF;
 }
 div.centered{
    text-align: center;
 }
 p {
    color: #197BBD;
    font-family: Verdana, Helvetica, sans-serif;
 }
 
 p.enterInstruc {
    color: #204B57;
 }

 p.errorMsg {
    color: red;
 }
 
 h1 {
    color: #125EBA;
    font-family: Verdana, Helvetica, sans-serif;
 }
 
 h2{
    color: #204B57;
    font-family: Verdana, Helvetica, sans-serif;
 }

 h3{
    color: #204B57;
    font-family: Verdana, Helvetica, sans-serif;
 }

 a {
    color: #0000EE;
    font-family: Verdana, Helvetica, sans-serif;
 }

 a.buttonLink {
   text-decoration: none;
   color: #204B57; 
 }

 button.logout {
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    background-color: #87CEFA;
    border: 2px solid #87CEFA;
    border-radius: 25px;
 }

 tr {
   border: 2px solid #204B57;
   font-family: Verdana, Helvetica, sans-serif;
   border-collapse: collapse;
 }

 th {
   border: 2px solid #204B57;
   padding-top: 12px;
   padding-bottom: 12px;
   background-color: #125EBA;
   color: white;
 }

 td {
   border: 2px solid #204B57;
   padding: 8px;
 }

tr:nth-child(even){background-color: #f2f2f2;}
tr:nth-child(odd){background-color: white;}
